{% extends 'base.html' %}

{% block content %}
<h2>Asset List</h2>
{% if user.is_staff %}
<a href="{% url 'asset_create' %}" class="btn btn-primary mb-3">Add New Asset</a>
{% endif %}
<table class="table">
    <thead>
        <tr>
            <th>Asset Type</th>
            <th>Asset Number</th>
            <th>Location</th>
            <th>Actions</th>
            <th>Department</th>
        </tr>
    </thead>
    <tbody>
    {% for asset in assets %}
        <tr>
            <td>{{ asset.asset_type }}</td>
            <td>{{ asset.asset_number }}</td>
            <td>{{ asset.department }}</td>
            <td>{{ asset.location }}</td>
            <td>
                <a href="{% url 'asset_detail' asset.pk %}" class="btn btn-sm btn-info">View</a>
                {% if user.is_staff %}
                <a href="{% url 'asset_update' asset.pk %}" class="btn btn-sm btn-warning">Edit</a>
                <a href="{% url 'asset_delete' asset.pk %}" class="btn btn-sm btn-danger">Delete</a>
                {% endif %}
            </td>
        </tr>
    {% endfor %}
    </tbody>
</table>
{% endblock %}